.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-next,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-previous {
  background: #333333;
  color: #ffffff;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-next:focus,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-previous:focus,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-next:hover,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-previous:hover {
  background: #444444;
  
}
@media (max-width: 480px) {
  .so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-next,
  .so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-title a.sow-carousel-previous {
    display: none;
  }
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item {
  width: 244.8px;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 244.8px 163.8px;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 244.8px;
  height: 163.8px;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  background: #3279bb;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item h3.sow-carousel-item-title {
  color: #474747;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 0 0;
  text-align: center;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item h3.sow-carousel-item-title a {
  text-decoration: none;
  color: inherit;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:focus .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:hover .sow-carousel-thumbnail a {
  background-size: 272px 182px;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:focus .sow-carousel-thumbnail a span.overlay,
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item:hover .sow-carousel-thumbnail a span.overlay {
  opacity: 0.5;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-item .sow-carousel-default-thumbnail {
  width: 244.8px;
  height: 163.8px;
}
.so-widget-sow-post-carousel-default-186c00b47b3d-341 .sow-carousel-wrapper .sow-carousel-items .sow-carousel-loading {
  width: 244.8px;
  height: 163.8px;
}